@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #0E1A62;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    border-radius: 0 0 0 0;
}

.logo h1 {
    color: #ffffff;
    font-family: rubik, 'Poppins', sans-serif;
}

.logo h1:hover {
    cursor: pointer;
}

.none {
    visibility: hidden;
}

.nav-option ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    font-weight: 600;
    gap: var(--gap, 3.2rem);
}

.nav-list li {
    position: relative;
}

.nav-list li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s ease;
}

.nav-list li a:hover {
    color: #6787FE;
}

.nav-list li a:hover:after {
    content: "";
    height: 2px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    background-color: #6787FE;
    transition: 2s ease;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    outline: none;
    margin: 0 14px 0 40px;
    color: #6787FE;
    background-color: white;
    padding: 8px 30px 8px 17px;
    border: 1.6px solid #6787FE;
}

.i1 {
    font-size: large;
    position: absolute;
    right: 28px;
    top: 12px;
    color: #6787FE;
}

.i2 {
    font-size: large;
    position: absolute;
    right: 27px;
    top: 18px;
    color: white;
}

.dropdown:hover .dropdown-btn {
    background-color: #6787FE;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: -3px 0px 0 50px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    z-index: 1;
}


.dropdown-content a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #6787FE;
}

.dropdown i:hover {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.flex {
    display: flex;
    justify-content: center;
}


/* Hero Page */
.allcontainer {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.herocontainer {
    height: 857px;
    background-size: 1520px 857px;
}

.herocontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 600px;
    gap: 30px;
}

.title1 {
    font-size: 58px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
}

.title2 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 0;
    font-weight: 300;
    color: #ffffff;
    margin-right: 50px;
    /* margin-left: 90px; */
}

.explorebtn {
    display: flex;
    justify-content: flex-start;
}

.explorebtn input {
    margin-right: 400px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #6787FE;
    border: none;
    border-radius: 15px;
    height: 50px;
    padding: 0 10px 0 10px;
}

.explorebtn input:hover {
    background-color: #ffffff;
    color: #6787FE;
    border: 1px solid #6787FE;
    cursor: pointer;
}

/* Highlighted features */

.featurecontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 100px;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
}

.feature img {
    width: 180px;
}

.feature h1 {
    color: #333;
    font-family: poppins, Sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.feature p {
    color: #333;
    font-family: poppins, Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    overflow: hidden;
}


/* Trending jobs */

.trendingjobs{
    margin:0 130px 0 130px;
    height:655px;
    background-color: #f4f5f7;
    border-radius: 5px;
    margin-bottom: 100px;
}

.job-container {
    display: flex;
    background-color: white;
    margin: 20px;
    color: #1a1a1a;
    border-radius: 9px;
    border-color: #eaeff5;
    border-width: 2px;
    border-style: solid;
    padding: 3px 0;
}

.job-container img {
    width: 60px;
    margin: 20px 30px 0 20px;
}

.job-container h2 {
    font-size: 17px;
    padding: 15px 0 0px 0;
    font-weight: 500;
}

.job-container h1 {
    font-size: 21px;
    font-weight: 600;
}

.job-container ul {
    color: #555;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 7rem);
    font-size: 14px;
    padding: 8px 0 5px 0;
}

.job-container ul li {
    width: 120px;
}

.job-container ul i {
    margin-right: 4px;
}

.job-container p {
    color: #555;
    font-size: 14px;
    padding: 5px 10px 13px 0;
}

.jtitle {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    background-color: #6787fe;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 500;
}

.exploretbtn {
    display: flex;
    justify-content: flex-start;
}

.exploretbtn input {
    margin-left: 1130px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    background-color: #6787FE;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding: 0 10px 0 10px;
}

.exploretbtn input:hover {
    background-color: #ffffff;
    color: #6787FE;
    border: 1px solid #6787FE;
    cursor: pointer;
}


/* Numbers */


/* Courses */

.tcoursecontainer{
    display: flex;
    flex-direction: column;
}

.coursecontainers {
    padding: 0 30px 30px 30px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    background-color: #f4f5f7;
    margin: 0 120px 100px 120px;
    height:550px

}
.star{
    color: rgb(243,181,25);
    grid-area: 10px;
}
.course {
    border: #dad8d8 1px solid;
    border-radius: 15px;
    height: 450px;
    width: 385px;
    background-color: #ffffff;
}
.courseimage img{
    height: 230px;
}
.courseinfo{
    padding: 0px 10px 0 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.courseDuration{
    padding-left: 5px;
    display: flex;
}

.cl{
    padding-top: 5px;
    font-size: 15px;
}

.courseTitle h3{
    padding: 10px 0 0 5px;
    font-size: 20px;
    font-weight: 600;
}

.courseTutor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}

.courseTutor img{
    width: 35px;
    margin-right: 5px;
}
.enroll{
    display: flex;
    justify-content: center;
}
.enroll button{
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    background-color: #6787FE;
    border: 1px solid #6787FE;
    color: white;
    border: none;
}
.enroll button:hover{
    background-color: white;
    border: 1px solid #6787FE;
    color: #6787FE;
    cursor: pointer;
}


/* Companies */


/* blog/fillers */


.NewsLetter {
    height: 369px;
    background-color: #26ae61;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: center;
}

.formContainer {
    margin-left: 150px;
    margin-right: 150px;

    text-align: center;
}

.formContainer h1 {
    font-size: 34px;
    font-weight: 600;
}

.formContainer h4 {
    font-size: 14px;
    font-weight: 400;
    padding: 0 200px;
}

.nsForm {
    display: block;
    position: relative;
}

.email {
    font-size: 15px;
    position: relative;
    font-weight: 400;
    margin-top: 30px;
    padding: 15px;
    width: 600px;
    height: 20px;
    border: none;
    border-radius: 6px;
    outline: none;
    /* box-shadow: 0px 0px 0px 6px rgb(255 255 255 / 30%);*/
}

.nsbtn {
    font-weight: 400;
    color: #ffffff;
    background-color: #0B1741;
    font-size: 15px;
    position: absolute;
    top: 36px;
    left: 800px;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
}


.footerImage {
    height: 200px;
}

.footer {
    height: 320px;
    background-image: url(../img/citybg.png);
    background-size: 100% 175px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.footer-list {
    font-family: rubik, 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap, 8.5rem);
    list-style-type: none;
    line-height: 35px;
    padding: 45px 0 30px;
    color: #000000;
}

.li-heading span {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.nav-logo {
    font-size: 39px;
    font-weight: 700;
}

.footer-list ul {
    list-style-type: none;
    padding: 0;
}

.footer-list li a {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footer-list li a:hover,
.footer-credit a:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transition: 0.3s ease;
}

.footer-list i {
    cursor: pointer;
    margin: 0 5px;
}

.footer-list .brands-logo i {
    margin-right: 15px;
}

.footer-list i:hover {
    color: #000000;
    transition: 0.3s ease;
}

.nav-cn {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.ppp p {
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footer-credit {
    font-family: rubik, 'Poppins', sans-serif;
    margin: auto;
    text-align: center;
    margin: 5px 0 8px;
    padding: 15px 0 15px;
    color: #000000;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}