@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,500&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.subHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.subHeader p {
    font-weight: 600;
}

.aboutusform {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5%;
    gap: 20px;
}

.abtus {
    width: 45%;
    margin: 0 40px 0 0;
    border: transparent;
    border-radius: 20px;

}

.form-container .aboutusform {
    display: flex;
    width: 200%;
}

.form-container .aboutusform form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.aboutusform form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.aboutusform form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.aboutusform form .field input:focus {
    border-color: #6787FE;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}

.aboutusform form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder {
    color: #b3b3b3;
}

.aboutusform form .pass-link {
    margin-top: 5px;
}

#messagebox {
    height: 150px;
}

.map {
    width: 50%;
    float: right;
    margin-right: 10%;
    margin-right: 20px;
    grid-column: 2;
    border-radius: 10px;
}



form .btn {
    height: 50px;
    width: 50%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: #6787FE;
    border-radius: 5px;
    transition: all 0.4s ease;
    ;
}

form .btn:hover .btn-layer {
    left: 0;
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

form .btn input[type="submit"]:hover{
    background-color: #fff;
    border: 1px solid #6787FE;
    color: #6787FE;
}