@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Sub  Header */

img {
    max-width: fit-content;
}

.subHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 180px;
    
}

.subHeader p {
    font-weight: 600;
}


/* MAIN CONTAINER */

.mainContainer {
    background-color: #f5f5f5;
    /* margin: 0 125px 0 125px; */
    /* height: 1000px; */
    padding: 50px 120px;
    /* padding-top: 100px;
    padding-bottom: 50px; */
    display: flex;
    gap: 3%;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    width: 17%;
    gap: 40px;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
}

.search {
    display: flex;
    height: 40px;
    width: 253.8px;
    align-items: center;
    border-radius: 8px;
    border: #dad8d8 1px solid;
}

.search input {
    border: none;
    width: 215px;
    height: 35px;
    font-size: 15px;
    outline: none;
    background-color: #f5f5f5;
}

.category h1,
.level h1 {
    font-size: 20px;
    font-weight: 600;
    color: #26ae61;
    margin-bottom: 20px;
}

.category p,
.level p {
    line-height: 40px;
    display: flex;
    align-items: center;
}

.category input,
.level input {
    margin-right: 10px;
    accent-color: #26ae61;
}

input.lg {
    width: 17px;
    height: 17px;
}

.clrBtn button {
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    border: #26ae61 2px solid;
    background-color: #f5f5f5;
}

.clrBtn button:hover {
    background-color: #26ae61;
    color: #ffffff;
    cursor:pointer;
}

.sort {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sort select {
    background-color: #ffffff;
    display: flex;
    font-size: 16px;
    padding: 3px;
    outline: none;
    background-color: #f5f5f5;
    height: 40px;
    border: #dad8d8 1px solid;
    border-radius: 8px;
}
.gp{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: flex-start;
}
.coursecontainers {
    padding: 0 30px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.star{
    color: rgb(243,181,25);
    grid-area: 10px;
}
.course {
    border: #dad8d8 1px solid;
    border-radius: 15px;
    height: 420px;
    background-color: #ffffff;
}
.courseimage img{
    height: 230px;
}
.courseinfo{
    padding: 0px 10px 0 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.courseDuration{
    padding-left: 5px;
    display: flex;
}

.cl{
    padding-top: 5px;
    font-size: 15px;
}

.courseTitle h3{
    padding: 10px 0 0 5px;
    font-size: 20px;
    font-weight: 600;
}

.courseTutor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}

.courseTutor img{
    width: 35px;
    margin-right: 5px;
}
.enroll{
    display: flex;
    justify-content: center;
}
.enroll button{
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    background-color: #6787FE;
    border: 1px solid #6787FE;
    color: white;
    border: none;
}
.enroll button:hover{
    background-color: white;
    border: 1px solid #6787FE;
    color: #6787FE;
    cursor: pointer;
}
